<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="foto">
      <h2 data-cy="fotoDetailsHeading"><span>Foto</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ foto.id }}</span>
        </dd>
        <dt><span>Blob</span></dt>
        <dd>
          <div *ngIf="foto.blob">
            <a (click)="openFile(foto.blob, foto.blobContentType)">
              <img [src]="'data:' + foto.blobContentType + ';base64,' + foto.blob" style="max-width: 100%" alt="foto image" />
            </a>
            {{ foto.blobContentType }}, {{ byteSize(foto.blob) }}
          </div>
        </dd>
        <dt><span>Nome File</span></dt>
        <dd>
          <span>{{ foto.nome_file }}</span>
        </dd>
        <dt><span>Concerto</span></dt>
        <dd>
          <div *ngIf="foto.concerto">
            <a [routerLink]="['/concerto', foto.concerto.id, 'view']">{{ foto.concerto.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/foto', foto.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
